# Ignore IDE-specific file to make it agnostic of IDE
.idea

__pycache__/

# This is data folder use for testing,
# we ignore it from git to make it simpler for development
data/

# This is where processed data stored during analysis
# Potentially we use sqlite
processed_data/

# Notebook cache
.ipynb_checkpoints/
